<h1>Add A New Neighborhood</h1>
<p>You'll have all your neighborhood related shit here about whats good with it, where its at, and some history or whatever.</p>

<%= render 'form', hood: @hood %>

<%= link_to 'Back', hoods_path %>
